/Family1/nbproject/private/
/Family1/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication5/dist/